@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
    color: azure;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color:black;
}